@import './styles/helpers/variables.scss';

#root > div{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-template-columns: 1fr;

	.Toastify{
		position: absolute;
	}
}

body {
	font-family: Arial, sans-serif;
	background-color: $background-color;
	color: $text-color;
}

header {
	background-color: $header-background-color;
	color: $secondary-color;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 2rem;
}
